<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Nome della macro categoria</string>
        </dict>
        <dict>
            <key>A</key>
            <array>
                <dict>
                    <key>label</key>
                    <string>tizio</string>
                    <key>kind</key>
                    <string>InfoCell</string>
                    <key>style</key>
                    <string>UITableViewCellStyleDefault</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>caio</string>
                    <key>kind</key>
                    <string>InfoCell</string>
                    <key>style</key>
                    <string>UITableViewCellStyleDefault</string>
                </dict>
                <dict>
                    <key>label</key>
                    <string>sempronio</string>
                    <key>kind</key>
                    <string>InfoCell</string>
                    <key>style</key>
                    <string>UITableViewCellStyleDefault</string>
                </dict>
            </array>
        </dict>
     </array>
</plist>
