<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

    <dict>
        <key> </key>
        <array>
            <dict>
                <key>label</key>
                <string>Filtro</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>A</key>
        <array>
            <dict>
                <key>enum</key>
                <string>0</string>
                <key>label</key>
                <string>A1</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>1</string>
                <key>label</key>
                <string>A2</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>2</string>
                <key>label</key>
                <string>A3</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>B</key>
        <array>
            <dict><key>enum</key>
                <string>3</string>
                <key>label</key>
                <string>b1</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>4</string>
                <key>label</key>
                <string>b2</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>5</string>
                <key>label</key>
                <string>b3</string>
            </dict>
        </array>
    </dict>
    <dict>
        <key>C</key>
        <array>
            <dict>
                <key>enum</key>
                <string>6</string>
                <key>label</key>
                <string>c1</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>7</string>
                <key>label</key>
                <string>c2</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>8</string>
                <key>label</key>
                <string>c3</string>
            </dict>
        </array>
    </dict>
    
    <dict>
        <key>D</key>
        <array>
            <dict><key>enum</key>
                <string>9</string>
                <key>label</key>
                <string>d1</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>10</string>
                <key>label</key>
                <string>d2</string>
            </dict>
            <dict>
                <key>enum</key>
                <string>11</string>
                <key>label</key>
                <string>d3</string>
            </dict>
        </array>
    </dict>


</array>
</plist>
