<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Settori</string>
	</dict>
	<dict>
		<key>A</key>
		<array>
			<dict>
				<key>label</key>
				<string>A1</string>
				<key>code</key>
				<string>a1</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>A2</string>
				<key>code</key>
				<string>a2</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>A3</string>
				<key>code</key>
				<string>a3</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>B</key>
		<array>
			<dict>
				<key>label</key>
				<string>b1</string>
				<key>code</key>
				<string>b1</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>b2</string>
				<key>code</key>
				<string>b2</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>b3</string>
				<key>code</key>
				<string>b3</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
		<key>C</key>
		<array>
			<dict>
				<key>label</key>
				<string>c1</string>
				<key>code</key>
				<string>c1</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>c2</string>
				<key>code</key>
				<string>c2</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
			<dict>
				<key>label</key>
				<string>c3</string>
				<key>code</key>
				<string>a1</string>
				<key>kind</key>
				<string>ActionCell</string>
				<key>style</key>
				<string>UITableViewCellStyleDefault</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
